.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100vw - 64px);
    box-shadow: 4px 4px 4px 0 var(--box-shadow-color);
    background-color: var(--primary-dark-color);
    padding: 8px;
    margin: 16px;
}

.alpha {
    display: flex;
    align-items: center;
}

.alpha a, .beta a {
    display: flex;
    align-items: center;
    color: var(--primary-theme-color);
    margin-right: 24px;
}

.icon {
    margin-right: 16px;
    height: 50px;
    width: 50px;
}

.span {
    font-weight: bolder;
}

.beta {
    display: flex;
    align-items: center;
}

.img {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    object-fit: cover;
    border-radius: 100%;
}
