.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    background-color: var(--primary-theme-color);
}

.right {
    text-align: right;
    padding: 16px;
    display: flex;
    align-items: center;
    width: 30%;
}

.middle {
    text-align: right;
    padding: 16px;
    display: flex;
    align-items: center;
    width: 50%;
}

.left {
    text-align: right;
    padding: 16px;
    display: flex;
    align-items: center;
    width: 25%;
}

.container > * {
    margin-right: 24px;
}

.container a {
    color: var(--primary-dark-color);
}

.nav svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.container > svg:hover {
    border-radius: 4px;
    filter: grayscale(100%) brightness(0%);
}

.search {
    width: calc(75% - 16px);
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 16px;
}

.img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
}
