.container {
    display: flex;
    flex-direction: column;
    padding: 0 28rem;
    height: 100%;
}

.wrapper {
    padding: 3rem 6rem;
}

.type {
    display: block;
    padding-left: 1rem;
    letter-spacing: 5px;
    color: var(--primary-dark-color);
    font-size: 3rem;
    text-shadow: 1px 1px var(--primary-theme-color);
}
