
.container {
    display: flex;
    flex-direction: column;
    padding: 0 28rem;
    height: 100%;
}

.wrapper {
    padding: 3rem 6rem;
}

.type {
    display: block;
    padding-left: 1.25rem;
    letter-spacing: 5px;
    color: var(--primary-theme-color);
    font-size: 3rem;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.collectionsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.gridColumns {
    display: flex;
    flex-direction: column;
}

.square {
    grid-column: span 1;
    grid-row: span 1;
}

.portrait {
    grid-column: span 1;
    grid-row: span 2;
}

.panorama {
    grid-column: span 1;
    grid-row: span 3;
}

.cell {
    position: relative;
    overflow: hidden;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.cellContent {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
    box-shadow: 6px 6px 5px #111111;
    transition: 0.25s all ease-in-out;
}

.cellLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
    border-radius: 8px;
    color: var(--primary-theme-color);
    box-shadow: 4px 4px 4px 0 #111111;
    background-color: var(--primary-dark-color);
    transition: 0.25s all ease-in-out;
    padding: 8px;

    &:hover {
        scale: 0.95;
        color: var(--primary-dark-color);
        background-color: var(--primary-theme-color);
    }
}

.cellLink > svg {
    margin-right: 8px;
}

.cellActions {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actionA {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.actionB {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action {
    text-align: center;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 8px;
    color: var(--primary-theme-color);
    box-shadow: 4px 4px 4px 0 #111111;
    background-color: var(--primary-dark-color);
    transition: 0.25s all ease-in-out;
    padding: 8px;
    cursor: pointer;

    &:hover {
        scale: 0.95;
        color: var(--primary-dark-color);
        background-color: var(--primary-theme-color);
    }
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: var(--primary-dark-color);
    box-shadow: 6px 6px 5px #111111;
    height: 300px;
    color: white;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transition: 0.25s all ease-in-out;

    &:hover {
        scale: 0.95;
    }
}

.collectionName {
    position: absolute;
    bottom: 50%;
    backdrop-filter: blur(12px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0.75rem;
    height: 1.5rem;
    font-size: 1.75rem;
    color: var(--box-shadow-color);
    text-shadow: 2px 2px var(--primary-theme-color);
}

.collectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collectionHeader > button {
    width: 20%;
}

.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    height: 125px;
    font-size: 2rem;
    background-color: var(--primary-theme-color);
}

.nothing > svg {
    scale: 1.5;
    margin-right: 24px;
}
