.container {
    display: flex;
    flex-direction: column;
    padding: 0 28rem;
    height: 100%;
}

.wrapper {
    padding: 3rem 6rem;
}

.type {
    padding-left: 3rem;
    letter-spacing: 5px;
    color: var(--primary-theme-color);
    font-size: 3rem;
}
