:root {
    --primary-theme-color: #a67b5b;
    --primary-dark-color: #1e1e1e;
    --primary-light-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-light-color);
}

a {
    text-decoration: none;
}
