.imgGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
}

.vidGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
}

.cell {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cell > .vidLink {
    text-align: center;
    margin-top: 16px;
    width: auto;
    border-radius: 8px;
    color: var(--primary-theme-color);
    box-shadow: 4px 4px 4px 0 #111111;
    background-color: var(--primary-dark-color);
    transition: 0.25s all ease-in-out;
    padding: 8px;
}

.cell > .vidLink:hover {
    scale: 0.95;
    color: var(--primary-dark-color);
    background-color: var(--primary-theme-color);
}

.vidCell {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.portrait {
    grid-column: span 1;
    grid-row: span 2;
}

.landscape {
    grid-column: span 2;
}

.square {
    grid-column: span 1;
    grid-row: span 1;
}

.panorama {
    grid-column: span 3;
    grid-row: span 2;
}

.img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
    box-shadow: 6px 6px 5px #111111;
    transition: 0.25s all ease-in-out;
}

.img:hover {
    scale: 0.95;
    box-shadow: 3px 3px 5px #111111;
}

.imgCell {
    box-shadow: 6px 6px 5px #111111;
}
