
.profileContainer {
    width: 100vw;
}

.pfpContainer {
    text-align: center;
    padding: 2rem;
}

.pfpContainer > h1 {
    color: var(--primary-theme-color);
    margin-top: 1rem;
}

.pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.editContainer {
    display: flex;
    width: 100%;
}

.editContainer > div {
    width: 40vw;
}

.edit {
    display: flex;
    justify-content: center;
    width: 10vw;
}

.edit > button {
    width: 35%;
}

.editComponent {
    z-index: 1000;
    border-radius: 8px;
    background-color: var(--secondary-dark-color);
    width: 50vw;
    position: fixed;
    box-shadow: 4px 4px 4px 4px var(--box-shadow-color);
    top: 10%;
    left: 15%;
    padding: 2rem 10rem;
}

.editComponent span {
    color: var(--primary-light-color);
}
