.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 16px);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 16px 8px 8px 8px;
    border: none;
    border-radius: 4px;
    color: var(--primary-theme-color);
    box-shadow: 4px 4px 4px 0 var(--box-shadow-color);
    background-color: var(--primary-dark-color);
    transition: 0.25s all ease-in-out;
    outline: none;
}

.button svg {
    margin-right: 8px;
}

.button:hover {
    scale: 0.95;
    color: var(--primary-dark-color);
    background-color: var(--primary-theme-color);
}
