.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
}

.video {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.name {
    margin-bottom: 16px;
    margin-top: 16px;
    color: var(--primary-theme-color);
}

.select {
    text-align: center;
    width: calc(100% - 16px);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 16px 8px 8px 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: var(--primary-theme-color);
    box-shadow: 4px 4px 4px 0 var(--box-shadow-color);
    background-color: var(--primary-dark-color);
    outline: none;
    transition: 0.25s all ease-in-out;

    &:hover {
        scale: 0.95;
        color: var(--primary-dark-color);
        background-color: var(--primary-theme-color);
    }
}

.option {
    text-align: center;
}

.bottomContainer {
    display: flex;
    align-items: center;
}
